<div class="container-1">
  <div class="container-2 pt-5">  

    <h2> <%= params[:medicine_name] %></h2><br>
    <h2>Principio Ativo:<br>
        <%= params[:medicine_principle] %><br>
        Possivel reação:<br>
        Edema de Glote
    </h2>
  </div>
  <div class="container-3">
    <%= image_tag ("alerta.png"), :class => "img_alert"%>
  </div>

  </div>
  <div class="buttons">
    <button type="button" class="btn btn-outline-light btn-lg">Ligar 192 - SAMU</button></li> 
    <button type="button" class="btn btn-outline-light btn-lg">Medico Cadastrado</button></li>
  </div>