<div class="container-1">
  <div class="container-3">
    <h1>Dipirona !!!</h1><br>
    <%= image_tag ("alerta.png"), :class => "img_alert"%>
    <h2>Principio Ativo<br>
        Dipirona Monoidratada<br>
        Possivel reação<br>
        Edema de Glote
    </h2>
  </div>
<div class="buttons">
    <button type="button" class="btn btn-outline-light btn-lg">Large button</button></li> 
    <button type="button" class="btn btn-outline-light btn-lg">Large button</button></li>
</div>
</div>