
.img_alert  {
  width: 300px;

}
.container-1 {
  background-color:#bd2929;
  text-align: center;
  display: flex;
}
.buttons {
  margin-bottom: -50px;
  padding-bottom: 30px;
  
}
.btn-outline-light {
  margin: 10px;
  color: white; 
  text-shadow: rgb(63, 63, 63) 0.1em 0.1em 0.2em;
}
.img_alert {
  animation: img_alert 0.7s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name: img_alert;
  animation-name: img_alert;
}
@-webkit-keyframes img_alert {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}

@keyframes img_alert {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.1);
    filter: brightness(200%);
  }
}
h1  { 
  color: white; 
  text-shadow: rgb(39, 39, 39) 0.1em 0.1em 0.2em; 
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center; 
  padding-top: 50px;
}
.container-2 {
  padding-left: 350px;
}
h2 {
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 25px;
  
}
 .buttons {
  background-color:#bd2929;
  text-align: center;
  padding-top: 50px;
}