h1 {
	color: white;
}

h2 {
	color: white;
}

a:hover {
	text-decoration: none;
}

.card-product {
	height: auto;
}
.modal-content {
	background-color: #c51212;
	border: solid;
	border-radius: 15px;
	
}
.modal-content p {
	font-size: 28px;
	padding: 50px;
	color: rgb(223, 215, 145);
}
.modal-content h1 {
	font-size: 48px;
}
.fa-clinic-medical {
	color: rgb(23, 8, 77);
}
.search_medicine{
	font-size: 40px;
	padding-bottom: 40px;
	padding-top: 15px;
}