.container-medicines {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: black  0.1em 0.1em 0.1em;
  margin-bottom: 65px;
  .show-medicine {
    background-color: #ffffff;
    h6 {
      color: #152F4F; 
      font-weight: 700;
      text-shadow: rgb(194, 194, 194) 0.1em 0.1em 0.1em;
      text-align: center;
      font-size: 37px;
    }
    h3 {
      color: rgb(201, 2, 2); 
      font-weight: 600;
      text-shadow: rgb(228, 228, 228) 0.1em 0.1em 0.1em;
      font-size: 27px;
      margin-top: -5px;
    }
    h4 {
      color: rgb(111, 119, 2);
      font-weight: 600;
      font-size: 15px;
      margin-top: -3px;
      font-style: italic;
    }
    .p1 {
      padding-bottom: 35px;
      font-size: 29px;
      color: #152F4F;
      font-weight: 600;
      text-shadow: rgb(148, 148, 148) 0.1em 0.1em 0.2em;
      animation: p1 0.7s infinite;
      margin: 0 auto;
      display: table;
      margin-top: 28px;
      animation-direction: alternate;
      -webkit-animation-name: p1;
      animation-name: p1;
    }
    @-webkit-keyframes p1 {
      0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
      }
      100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
      }
    }
    
    @keyframes p1 {
      0% {
        transform: scale(1);
        filter: brightness(100%);
      }
      100% {
        transform: scale(1.1);
        filter: brightness(100%);
      }
    }
    .p2 {
      font-size: 24px;
      font-weight: 500;
      color: rgb(105, 95, 2);
      
      // text-shadow: black 0.1em 0.1em 0.2em;
    }
    .each-allergies {
     color: rgb(201, 2, 2);
     font-weight: 400;
     text-align: left;
     margin-left: 40px;
     font-size: 25px;
     font-weight: 500;
    } 
    .img_medicine {
      text-align: center;
    }
    .p3 {
      
      font-size: 29px;
      color: #152F4F;
      font-weight: 600;
      text-shadow: rgb(148, 148, 148) 0.1em 0.1em 0.2em;
      }
    }
    
 
}
.btn-warning {
  margin-right: 30px;
  padding: 8px;
}