.container-medicines {
  background-color: #152f4f;
  border-radius: 20px;
  box-shadow: black  0.1em 0.1em 0.4em;
  margin-bottom: 65px;
  .show-medicine {
    background-color: #152f4f;
    h2 {
      color: white; 
      text-shadow: black 0.1em 0.1em 0.2em;
      font-size: 35px;
    }
    h3 {
      color: rgb(230, 107, 107); 
      text-shadow: black 0.1em 0.1em 0.2em;
      font-size: 31px;
      margin-top: -15px;
    }
    h4 {
      color: rgb(218, 207, 116);
      text-shadow: black 0.1em 0.1em 0.2em;
      font-size: 16px;
      margin-top: -8px;
      font-style: italic;
    }
    .p1 {
      padding-bottom: 35px;
      font-size: 29px;
      color: rgb(255, 255, 255);
      text-shadow: black 0.1em 0.1em 0.2em;
      animation: p1 0.7s infinite;
      margin: 0 auto;
      display: table;
      margin-top: 28px;
      animation-direction: alternate;
      -webkit-animation-name: p1;
      animation-name: p1;
    }
    @-webkit-keyframes p1 {
      0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
      }
      100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
      }
    }
    
    @keyframes p1 {
      0% {
        transform: scale(1);
        filter: brightness(100%);
      }
      100% {
        transform: scale(1.1);
        filter: brightness(100%);
      }
    }
    .p2 {
      font-size: 22px;
      color: rgb(218, 207, 116);
      text-shadow: black 0.1em 0.1em 0.2em;
    }
    .each-allergies {
     color: rgb(230, 107, 107); 
     text-shadow: black 0.1em 0.1em 0.2em;
     text-align: left;
     margin-left: 40px;
     font-size: 24px;
    } 
    }
 
}
.btn-warning {
  margin-right: 30px;
  padding: 8px;
}
