<div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>Allergi APP</h2>
      <div class="ftext" align="center">
        <p class="pr-5 text-white-50">the application that helps you control your allergies </p>
      </div>
      <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <li>º <a href="http://blog.alergoimuno.com.br/2017/12/19/alergia-a-medicamentos-pode-ser-perigosa/#:~:text=Existem%20tamb%C3%A9m%20rea%C3%A7%C3%B5es%20na%20pele,consci%C3%AAncia%20e%20dos%20sinais%20vitais.">Drug allergy is dangerous and requires care</a></li>
          <li>º <a href="http://www.blog.saude.gov.br/index.php/promocao-da-saude/53873-saiba-como-prevenir-as-alergias#:~:text=Se%20a%20alergia%20envolve%20%C3%A1caros,s%C3%A3o%20fundamentais%20para%20viver%20bem.">Tips to prevent allergic attacksc</a></li>
          <li>º <a href="https://github.com/Jamal-CRF/Allergi"><i class="fab fa-github"></i></a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Contact</h4>
      <p>allergi_support@gmail.com</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      <p><i class="fa fa-envelope-o mr-3"></i></p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
    </div>
  </div>
</div>
</div>