<div class="container" align="center">
	<% if current_user %>
				<div class="banner">
			<div class="card-home">
		    	<h1>Welcome <%= current_user.name %></h1>
		    	<p>Start to use now!</p>
		    </div>
		</div>
	<% else %>
		<div class="banner">
			<div class="card-home">
		    	<h1>Allergí - know your allergies</h1>
		    	<p>With this webapp, you can search and add your allergy reaction, and inform your doctor</p>
	        	<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-light" %>
		    </div>
		</div>
	<% end %>
</div>
