<div class="container" align="center">
	<div class="banner">
	  <div class="card-home">
	 
	      <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
	      <p>Change your life and learn to code at one of our campuses around the world</p>
        <button type="button" class="btn btn-light">Light</button>
	  </div>
	</div>
</div>
  </div>
