<div class="container d-flex justify-content-center mt-4">
  <div class="allergi">
    <br>
    <div class="perfil">
      <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, transformation: [{width: 70, height: 70, gravity: "face", radius: "max", crop: "fill", quality: 80}, {width: 55, crop: "scale"}]%>
      <% end %>
    </div>
    <br>
    <br>
    <%= "Hello" %>
    <br>

    <div class="card-login">
      <form>
        <div id="botao">
            <%= link_to 'Cadastrar alergia', medicines_search_medicine_path, class: "btn btn-secondary" %>
        </div>
      </form>
      <br>
      <form>
        <div id="botao">
          <%= link_to 'Pesquisar Medicamento', medicines_search_medicine_path, class: "btn btn-secondary" %>
        </div>
      </form>
    </div>
  </div>
</div>