<h1>Escolha a reação a este medicamento</h1>

<div class="container">
  <ul>
    <% @allergies.each do |allergy| %>
      <li>
        <button type="button" class="btn btn-primary btn-lg btn-block"><%= allergy.reactions %></button>
      </li> 
    <% end %> 
  </ul>
</div>