<div class="container d-flex justify-content-center mt-4">
  <div class="allergi">
    <span class="perfil">
      <%= image_tag "Juan_Dantas.jpg"%>
    </span>
    <br>
    <br>
    <h1>Hello @user.name</h1>
    <br>
    <br>

    <div class="card">
      <form>
        <div id="botao">
            <input type="submit" name="botao" value="inserir Alergia" class="btn btn-success btn-lg btn-block" />
        </div>
      </form>
      <br>
      <br>
      <form>
        <div id="botao">
          <input type="submit" name="botao" value="Pesquisar Medicamento" class="btn btn-success btn-lg btn-block" />
        </div>
      </form>
    </div>
  </div>
</div>
