<div class="container" align="center">
	<h1>Allergies to <%= @allergy.medicine.name %></h1><br>
	<h4>Allergic Reactions</h4>
	<%= simple_form_for [@allergy, @allergies_reactions] do |f| %>
	  <%= f.association :reaction, input_html: {class: "btn btn-outline-primary"}, as: :check_boxes %>
	  <%= f.submit %>
	<% end %>
</div>


