<div class="container my-5">
  <% @principles.each do |principle| %>
	  <div class="card-product">
	    <div class="card-product-infos">
		    <h5><%= principle %></h5>
				
				<h6><%=  %></h6>
		  </div>
	  </div>
	<% end %>
</div>
