<div class="container-medicines d-flex justify-content-center mt-2">
  <div class="card-princip show-medicine">
    <% @allergies.each do |allergy| %>
    <%= allergy.medicine.name %>
    <% end %>
  </div>
</div>