.allergi {
  text-align: center;
  background-color:#bebebe;
  border-radius: 20px;
};

.perfil {
  img{
  width: 100px;
  }
}

.card-login{
  background-color: #bebebe;
  border: #bebebe;
  border-radius: 20px;
};

img{
  width: 250px;
  border-radius: 100vh;
};

