h1{
font-family: roboto;
};
.card-img {
  background-color: #bebebe;
};

.card-text {
  font-family: roboto;
};

.card-princip {
  background-color: white;
  border-radius:10px;
}

.container-medicines{
  width: 500px;
	margin:auto;
	border-radius: 2%;
  background-color: white;
}