h1 {
	font-family: roboto;
	text-align: center;
};

h2 {
    text-align: center;
}
.card-img {
  background-color: #bebebe;
  content-align: center;
};

.card-text {
  font-family: roboto;
};

.card-princip {
  background-color: white;
  border-radius:10px;
}

.container-medicines{
  width: 500px;
	margin:auto;
	border-radius: 2%;
  background-color: white;
}

.card-body {
  text-align: center;
}

.card-allergi {
  background-color: white;
}

.fa-notes-medical:before {
  color: red;
}