<div class="container">
  <div class="card-home mt-4">
    <h6> Médico, pós graduado pela Pontifícia Universidade Católica de Campinas - PUC/CAMPINAS em 2004, Doutora em Nefrologia no grupo de Doenças Metabólicas Ósseas relacionadas a Doença Renal Crônica do Hospital das Clínicas da Faculdade de Medicina da USP em 2015. Vice Diretor e Clínica do Hospital Israelita Albert Einstein. <h6>
  </div>
</div>